body{
    font-family:"Roboto", sans-serif;
    margin: 50px;
}

.link {
    font-size: 18px;
    color:rgb(95, 6, 158);
    text-decoration:none;
}

.header{
    color:blueviolet;
    text-align:center;
}

.nav{
    display:flex;
}

a{
    display:block;
    padding:10px;
    border:3px solid rgb(200, 165, 245);
    background-color:lavenderblush;
    margin:5px;
}